 * {
        margin: 0;
    }
.is-search {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: inline;
    width: 100%;
    margin-top: 35px;
    font-size: 10px;
}
.is-search ul {
    display:flex;
    flex-direction: column;
    justify-content: left;
}

.is-search input {
    width: 90%;
    padding: 14px 16px;
    border: 2px solid #e3f2fd;
    border-radius: 10px;
    font-size: 10px;
    transition: all 0.3s ease;
    background-color: #fafafa;
    color: #333;
}
.div-table {
    width:80%;
    max-height: 80vh;
    overflow-y: auto;
}
.table {
    width:100%;
    text-align: center;
    padding:10px 10px;
    max-height:350px;
    table-layout: fixed;
}
.table td {
    min-height:100px;
    height:25px;
}
@media (max-width: 768px) {
    .is-search {
        flex-direction: column;
    }
    .div-table {
        width:100%;
    }
    .is-search button {
        width: 30%;
    }
}
.found {
    color: green;
}
.not-found {
    color:red;
}
.row-odd {
    background-color: #f0f8ff;
}
#inputContainer {
    max-height:70vh;
    overflow-y: auto;
}
.room-label {
  font-weight: bold;
}
.wrapper li{
    text-align:left;
    list-style-type: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.wrapper h3 {
    text-align: center;
}
.wrapper button {
    justify-content: center;
}
.show-tags {
    max-height:65vh;
    overflow-y: auto;
}
.is-search button {
    width: 90%;
    padding: 10px;
    background: white;
    color: #FFC72C;
    border: 2px solid #9dc9e9 ;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
