
@media (max-width:779px) {
    #nav_links {
        visibility: hidden;
        height: 0;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }
}
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.has-navbar {
    all: unset; 
}
.has-navbar li,.has-navbar a,.has-navbar button {
    font-weight: 500;
    font-size: 13px;
    color: #edf0f1;
    text-decoration:none;
}
.has-navbar header{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    height:64px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10%;
}

.nav_links {
    list-style:none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #0088a9;
}
body .has-navbar button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #003594;
    border:none;
    border-radius:5px;
    color: #FFC72C;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.has-navbar button:hover {
    background-color:rgba(0,136,169,9,83);
    translate: 0px -2px;
}

.has-navbar .gradient-text {
    cursor: pointer;
    background: linear-gradient(135deg, #003594, #FFC72C);
    -webkit-background-clip: text;  
    background-clip: text;         
    -webkit-text-fill-color: transparent;
    color: transparent;           

    font-size: 2rem;         
    line-height: 1.2;
    min-height: 2.4rem;      /* 2rem * 1.2 = 2.4rem = reserved height */
    font-weight: bold;       
    display: inline-block;
}
.has-navbar  .dropbtn {
    color: white;
    border: none;
}

.has-navbar .dropdown {
    min-height: auto;
    position: relative;
    display: inline-block;
}

.has-navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-height:50px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-width: 50px;
}

.dropdown-content a:hover {background-color: lightblue;}

.dropdown:hover .dropdown-content {display: block;}

.dropbtn2 {
    color: white;
    border: none;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease;  background-color: lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-height:50px;
    position: absolute;
    left: 70px;
    top: 0;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}


.dropdown2:hover .dropdown-content2 {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.has-navbar img {
    height: 130px;
    width: 180px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}
.dropdown h4 {
    margin: -0.5vh 0 0;
    padding: 5px 5px 5px;
    text-align: center;
}
.nav_links ul {
    margin-top: 0;
    margin-bottom: 0;
}
