.row-even {
    background-color: #f0f8ff;
}

.row-odd {
    background-color: #ffffff;
}
.asset-table tr {
    min-height: 2.5rem;
}
.asset-table {
    min-height: 600px;
    min-width: 900px;
}
.is-ajax th {
    font-size: 0.8rem;
    color:#2c3e50;
    padding: 10px 10px;
    border: 1px solid #ddd;
    text-align: center;
}
.is-ajax td {
    font-size:0.8rem;
    font-weight: 500;
    color:#2c3e50;
    padding: 0 5px 15px;
    border: 1px solid #ddd;
    text-align: center;

}
.table-div {
    place-items:center;
}
#button-9 {
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    padding: 0 25px;
    min-width:90px;
}

