.is-manage-profile button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #003594;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.is-manage-profile button:hover {
  background-color: rgba(0, 136, 169, 9, 83);
  translate: 0px -2px;
}

.is-manage-profile li,
.is-manage-profile a,
.is-manage-profile button {
  font-weight: 500;
  font-size: 13px;
  color: #edf0f1;
  text-decoration: none;
}
.is-manage-profile header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.is-manage-profile {
    background: linear-gradient(135deg, #e3f2fd 0%, #bbdefb 100%);
    min-height:100%;
    height:100vh;
}
.is-manage-profile header {
    place-items:center;

}
.display-profile {
    width:80%;
    max-height: 80vh;
    overflow-y: auto;
}
.table {
    width:100%;
    text-align: center;
    padding:10px 10px;
    max-height:350px;
    table-layout: fixed;
}
.table td {
    min-height:100px;
    height:25px;
}
.page2,
.page1 {
    place-self: center;
}
